.r1{
    display: inline-block;
    position: relative;
    left:200px;
}
.r2{
    display:inline-block ;
    position: relative;
    left:500px;
}
h1{
    display: inline-block;
    position: relative;
    left:70px;
    bottom:150px;
    font-family:  Helvetica, sans-serif;
    color

}
 img{
    display: inline-block;
    width:236px;
    height:236px;
    
 }
 .first{
    display: inline-block;
 }




 .r3{
    display: inline-block;
    position: relative;
    left:200px;
}
.r4{
    display:inline-block ;
    position: relative;
    left:500px;
}

 
 .second{
    display: inline-block;
 }




 .r5{
    display: inline-block;
    position: relative;
    left:200px;
}
.r6{
    display:inline-block ;
    position: relative;
    left:500px;
}


 .third{
    display: inline-block;
 }